.signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .displaylogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.form-box{
    padding:2rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.text{
    padding: 0.5rem;
    font-weight: bold;
    font-size: medium;
    /* background-color: red; */
}
.input-group{
    display:flex;
 
}


